<div class="section" id="location">
  <h3>Location</h3>
  <p><a href="http://www.pio.or.jp/plaza/access/index.htm" title="大田区産業プラザ（PiO）" target="_blank">大田区産業プラザ（PiO）</a></p>
  <p><a href="http://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A4%A7%E7%94%B0%E5%8C%BA%E5%8D%97%E8%92%B2%E7%94%B01-20-20" title="Google Maps" target="_blank">東京都大田区南蒲田 1-20-20</a></p>
</div>
<form id="search" method="get" action="http://blog.bulknews.net/mt3/mt-search.cgi">
  <fieldset>
    <legend accesskey="s">Search Form</legend>
    <input type="hidden" name="IncludeBlogs" value="10" />
    <input name="search" value="" class="searchform" tabindex="1" accesskey="1" />
    <input type="submit" value="Search" tabindex="2" accesskey="2" />
  </fieldset>
</form>
<div class="section" id="sponsors">
  <h3>Sponsors</h3>
  <ul>
    <li><a href="http://mixi.co.jp/business.html"><img src="http://tokyo.yapcasia.org/blog/images/mixi.gif" alt="mixi, Inc." /></a></li>
    <li><a href="http://www.sixapart.jp/"><img src="http://tokyo.yapcasia.org/blog/images/sixapart-logo.png" alt="Six Apart" /></a></li>
    <li><a href="http://labs.cybozu.co.jp/"><img src="http://tokyo.yapcasia.org/blog/images/cybozulabs.gif" alt="Cybozu Labs" /></a></li>
    <li><a href="http://razil.jp/"><img src="http://tokyo.yapcasia.org/blog/images/brazil.png" alt="Brazil" /></a></li>
    <li><a href="http://www.oreilly.co.jp/"><img src="http://tokyo.yapcasia.org/blog/images/oreilly.gif" alt="O'Reilly Japan" /></a></li>
    <li><a href="http://www.yahoo.co.jp/"><img src="http://tokyo.yapcasia.org/blog/images/yahoo.gif" alt="Yahoo! JAPAN" /></a></li>
  </ul>
</div>
<div class="section" id="recent-entries">
  <h3>Recent Entries</h3>
  <ul>    <li><a href="http://tokyo.yapcasia.org/blog/ja/2006/05/yapcasia_2.html" title="YAPC::Asia のビデオを公開しました">YAPC::Asia のビデオを公開しました</a></li>
      <li><a href="http://tokyo.yapcasia.org/blog/ja/2006/04/_the_perl_foundation.html" title="収益の一部を The Perl Foundation に寄付しました">収益の一部を The Perl Foundation に寄付しました</a></li>
      <li><a href="http://tokyo.yapcasia.org/blog/ja/2006/03/yapcasia_is_over.html" title="YAPC::Asia is over (２日目の感想はこちらへ）">YAPC::Asia is over (２日目の感想はこちらへ）</a></li>
      <li><a href="http://tokyo.yapcasia.org/blog/ja/2006/03/post_8.html" title="１日目の感想はこちら">１日目の感想はこちら</a></li>
      <li><a href="http://tokyo.yapcasia.org/blog/ja/2006/03/post_7.html" title="当日の会場受付">当日の会場受付</a></li>
  </ul>
</div>
<div class="section" id="category-archives">
  <h3>Categories</h3>
  <ul>
    <li><a href="http://tokyo.yapcasia.org/blog/ja/announcement/" title="announcement">announcement</a></li>
  </ul>
</div>
<div class="section" id="powered">
  <p>Powered by<br /><a href="http://www.sixapart.jp/movabletype/" title="Mobavle Type">Movable Type</a></p>
</div>